# Configurações do servidor
NODE_ENV=development
PORT=3000

# Configurações do banco de dados
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=gert
DB_PORT=3306

# Configurações de autenticação
JWT_SECRET=sua_chave_secreta_para_jwt
JWT_EXPIRATION=1d
