# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente

# Diretório de build
dist/
build/

# Diretório de cobertura de testes
coverage/

# Diversos
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
